@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root {
  /* Typography */
  --regular-font: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --heading-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    monospace, sans-serif;

  /* start of for mobile  scale 1.250    */

  --font-size-sm: clamp(0.8rem, 0vw + 0.8rem, 0.8rem);
  --font-size-h6: clamp(1rem, 0vw + 1rem, 1rem);
  --font-size-h5: clamp(1.25rem, 0vw + 1.25rem, 1.25rem);
  --font-size-h4: clamp(1.56rem, 0vw + 1.56rem, 1.56rem);
  --font-size-h3: clamp(1.95rem, 0vw + 1.95rem, 1.95rem);
  --font-size-h2: clamp(2.44rem, 0vw + 2.44rem, 2.44rem);
  --font-size-h1: clamp(3.05rem, 0vw + 3.05rem, 3.05rem);

  --box-shadow-1: 2px 4px 6px #000;

  --transition-8: all 0.8s ease-in-out;
  /* colors */
  --primary-color: #0008c1;
  --secondary-color: #2146c7;
  --heading-color: #4b8178;
  --btn-color: #e6cba8;
  --background-color: #fdf0e0;

  --linear-gradient: linear-gradient(to right, #0008c1, #4b8178);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font);
  font-size: 100%;
  /* font size :16px */
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* mobile */

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}
p {
  font-size: var(--font-size-h5);
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
  box-shadow: var(--box-shadow-1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  color: var(--primary-color);
}

.logo__text {
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: var(--font-size-h3);
}

.bag__icon {
  cursor: pointer;
  font-size: 3rem;
  transition: var(--transition-8);
}

.bag__icon:hover {
  color: var(--heading-color);
}

/* Product Container */
.products__title__container {
  padding-top: 6rem;
  padding-bottom: 2rem;
  color: var(--secondary-color);
  text-align: center;
}

.underline__products {
  height: 0.2rem;
  background-color: var(--background-color);
  width: 300px;
  text-align: center;
  display: inline-block;
  margin-top: 0.1rem;
  box-shadow: 1px 2px 1px #000;
  border-radius: 1rem;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  justify-content: center;
  margin: 0 auto;
  width: 96vw;
  row-gap: 1rem;
}

.product__main__card {
  box-shadow: var(--box-shadow-1);
  padding: 1rem;
}

.product__main__image {
  height: 16rem;
  max-width: 100%;
}

.product__name {
  font-size: var(--font-size-h5);
  text-align: center;
  padding: 0.2rem;
}

.product__price {
  text-align: center;
  font-size: var(--font-size-h5);
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--secondary-color);
}

.product__footer {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0;
  align-items: center;
}

.product__icon {
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition-8);
}
.product__icon:hover {
  background-color: white;
  color: var(--heading-color);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  height: 100%;
  background-color: white;
  transition: var(--transition-8);
  opacity: 0;
}

.show__sidebar {
  opacity: 1;
  width: 100%;
}

.sidebar__container {
  position: relative;
}
.close {
  position: absolute;
  top: 0.2rem;
  right: 2rem;
  font-size: var(--font-size-h1);
  color: black;
  font-weight: bold;
  transition: var(--transition-8);
  cursor: pointer;
}

.close:hover {
  color: red;
}

.sidebar__heading {
  font-size: var(--font-size-h4);
  text-align: center;
  padding-top: 4rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--heading-color);
  text-shadow: 1px 2px 1px #000;
  margin-bottom: 1rem;
}

.cart__container {
  display: grid;
  grid-template-columns: 1fr;
}

.cart__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product__image {
  max-width: 4rem;
  object-fit: cover;
  max-height: 4rem;
  align-self: flex-start;
}

.cart__name {
  font-size: var(--font-size-h5);
  text-transform: capitalize;
  padding-left: 1rem;
}

.cart__quantity {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: whitesmoke;
}

.plus,
.minus {
  cursor: pointer;
}

.cart__price {
  padding-left: 1rem;
  text-transform: capitalize;
  font-size: var(--font-size-h5);
}

.cart__number {
  width: 2.5rem;
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: var(--font-size-h6);
  margin-top: 0.5rem;
}

.btn {
  border: none;
  padding: 1rem;
}

.btn--delete {
  font-size: 1rem;
  color: red;
  cursor: pointer;
  background-color: transparent;
  align-self: flex-start;
  transition: var(--transition-8);
}

.btn--delete:hover {
  color: #000;
}

.cart__total {
  text-align: end;
  padding-top: 0.5rem;
}

.btn--buy {
  display: block;
  font-size: var(--font-size-h5);
  color: #0008c1;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.877);
  box-shadow: 1px 2px 1px #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: var(--transition-8);
}

.btn--buy:hover {
  background-color: white;
  color: black;
  transform: translateY(5px);
}

.total {
  font-weight: bold;
  padding-right: 1rem;
  color: var(--secondary-color);
}
