@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /* Typography */
  --regular-font: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --heading-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    monospace, sans-serif;

  /* start of for mobile  scale 1.250    */

  --font-size-sm: clamp(0.8rem, 0vw + 0.8rem, 0.8rem);
  --font-size-h6: clamp(1rem, 0vw + 1rem, 1rem);
  --font-size-h5: clamp(1.25rem, 0vw + 1.25rem, 1.25rem);
  --font-size-h4: clamp(1.56rem, 0vw + 1.56rem, 1.56rem);
  --font-size-h3: clamp(1.95rem, 0vw + 1.95rem, 1.95rem);
  --font-size-h2: clamp(2.44rem, 0vw + 2.44rem, 2.44rem);
  --font-size-h1: clamp(3.05rem, 0vw + 3.05rem, 3.05rem);

  --box-shadow-1: 2px 4px 6px #000;

  --transition-8: all 0.8s ease-in-out;
  /* colors */
  --primary-color: #2044c5;
  --secondary-color: #837eb2;
  --heading-color: #6bbaa2;
  --background-color: #f2ecff;

  --linear-gradient: linear-gradient(to right, #2044c5, #ff7e62);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font);
  font-size: 100%;
  /* font size :16px */
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* mobile */

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}
p {
  font-size: var(--font-size-h5);
}

/* navbar */

.header {
  padding: 1rem 1.8rem;
  box-shadow: 0px 1px 1px #000;
  background-color: var(--background-color);
}

.logo__text {
  font-size: var(--font-size-h4);
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--heading-color);
  text-shadow: 1px 1px 1px #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.shopping__bag {
  position: relative;
}

.total__cart__quantity {
  position: absolute;

  top: -1rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

.bag__icon {
  color: var(--heading-color);
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition-8);
}

.bag__icon:hover {
  color: var(--secondary-color);
}

.sidebar {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  transition: var(--transition-8);
  opacity: 1;
  transform: translateX(0%);
}

.show__sidebar {
  transform: translateX(100%);
  opacity: 0;
}

.side__container {
  position: absolute;
}

.sidebar__heading {
  text-align: left;
  font-size: var(--font-size-h4);
  padding: 1rem;
  color: var(--primary-color);
}
.close {
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  color: red;
  top: 0;
  right: 1rem;
  transition: var(--transition-8);
}

.close:hover {
  color: var(--primary-color);
}

/* cart card */

.cart__container {
  display: grid;
  row-gap: 1rem;
  width: 90vw;
  margin: 0 auto;
}

.cart__card {
  padding: 1rem;
  gap: 0.1rem;
  display: grid;
  box-shadow: 1px 1px 1px #000;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.cart__name {
  font-size: var(--font-size-h5);
  padding-left: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--primary-color);
}

.cart__content {
  flex: 0 0 10%;
}

hr {
  width: 80%;
}

.cart__price {
  color: var(--secondary-color);
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-left: 1rem;
  font-size: var(--font-size-h5);
}

.cart__number {
  width: 3.5rem;
  padding: 0.4rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.btn--delete {
  font-size: 2rem;
  cursor: pointer;
  color: var(--secondary-color);
  border: none;
  background-color: transparent;
  transition: var(--transition-8);
}
.btn--delete:hover {
  color: red;
}

.product__cart__image {
  max-width: 5rem;
  max-height: 5rem;
  display: block;
  object-fit: cover;
  width: 100%;
}

.products__title {
  text-align: center;
  font-size: var(--font-size-h3);
  padding: 1rem 0 0 0;
  color: var(--secondary-color);
}

.underline__products {
  height: 5px;
  width: 200px;
  background-color: var(--primary-color);
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: var(--box-shadow-1);
}

.products__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-top: 1rem;
  justify-content: center;
  padding-bottom: 1rem;
  gap: 1rem;
  margin: 0 auto;
}

.product__main__image {
  object-fit: cover;
  max-height: 18.75rem;
  max-width: 18.75rem;
  margin: 0 auto;
}

.add__tocart__icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--secondary-color);
  background-color: #000;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: var(--transition-8);
}

.add__tocart__icon:hover {
  background-color: white;
  color: var(--primary-color);
}

.product__price {
  font-size: var(--font-size-h5);
  font-weight: bold;
  color: var(--secondary-color);
}

.product__name {
  font-size: var(--font-size-h5);
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.product__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.product__main__card {
  box-shadow: 1px 2px 1px #000;
  display: grid;
  margin: 0 auto;
}

.cart__total {
  text-align: center;
  padding-top: 2rem;
  font-size: var(--font-size-h4);
  font-weight: bold;
  color: var(--secondary-color);
}

.total {
  color: black;
}

.btn--buy {
  padding: 0.6rem 1.5rem;
  text-align: center;
  border: none;
  color: var(--secondary-color);
  background-color: var(--background-color);
  font-weight: bold;
  font-size: var(--font-size-h5);
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;
  transition: var(--transition-8);
  border: 1px solid var(--heading-color);
  margin-bottom: 3rem;
}

.btn--buy:hover {
  color: black;
  background-color: white;
  transform: translateY(5px);
  border: 1px solid black;
}

@media (min-width: 576px) {
  .cart__card {
    width: 50%;
  }

  .sidebar {
    width: 50%;
    left: auto;
  }
}
@media (min-width: 768px) {
  .cart__card {
    width: 50%;
  }

  .sidebar {
    width: 50%;
    left: auto;
  }
}
@media (min-width: 768px) {
  .cart__card {
    width: 30%;
  }

  .sidebar {
    width: 30%;
    left: auto;
  }
}
